.main {
  width: 992px;
  min-width: 65vw;
  max-width: 100%;
  padding: 4rem 1rem;
  margin: 0 auto;
}

.hero-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8rem;
}

.hero-section h1 {
  font-size: 3.75rem;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 1.5rem;
  text-align: center;
}

.hero-section h1 span {
  color: #4361ee;
}

.hero-section h6 {
  color: #4b5563;
  font-size: 1.25rem;
  font-weight: normal;
  margin-bottom: 2rem;
  text-align: center;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}
.hero-button {
  font-size: 1rem;
  font-weight: bold;
  background-color: #e5e7eb;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 0.75rem 2rem;
}

.start-btn {
  background-color: #4361ee;
}

.demo-btn {
  color: #4361ee;
  border: 1px solid #4361ee;
}
